.view-product-button {
    background-color: #8a00c2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.view-product-button:hover {
    background-color: #8a00c2;
}
